{{define "base"}}
<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{if .Path}}{{.Path}} - {{end}}{{.Cfg.Name}}</title>
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/player.css">
  {{if .Cfg.CustomCSS}}<link rel="stylesheet" href="{{.Cfg.CustomCSS}}">{{end}}
  <link rel="shortcut icon" href="{{.Cfg.Favicon}}">
</head>

<body>
  {{if .Path}}
  {{template "player" .}}
  {{else}}
  {{template "index" .}}
  {{end}}
</body>

</html>
{{end}}