{{define "base"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{if .Path}}{{.Path}} - {{end}}SITE_NAME</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="static/favicon.ico">
</head>
<body>
    {{if .Path}}
    {{template "viewer" .}}
    {{else}}
    {{template "index" .}}
    {{end}}
</body>
</html>
{{end}}
