<?xml version="1.0" encoding="UTF-8" ?>

<Server version="7">
  <Name>OvenMediaEngine</Name>
  <Type>origin</Type>
  <IP>127.0.0.1</IP>

  <Bind>
    <Providers>
      <RTMP>
        <Port>1915</Port>
      </RTMP>
    </Providers>
    <Publishers>
      <WebRTC>
        <Signalling>
          <Port>3333</Port>
        </Signalling>
        <IceCandidates>
          <IceCandidate>*:10000-10005/udp</IceCandidate>
        </IceCandidates>
      </WebRTC>
    </Publishers>
  </Bind>

  <VirtualHosts>
    <VirtualHost>
      <Name>default</Name>
      <Domain>
        <Names>
          <Name>*</Name>
        </Names>
      </Domain>
      <Applications>
        <Application>
          <Name>play</Name>
          <Type>live</Type>
          <Encodes>
            <Encode>
              <Name>opus_only</Name>
              <Audio>
                <Codec>opus</Codec>
                <Bitrate>128000</Bitrate>
                <Samplerate>48000</Samplerate>
                <Channel>2</Channel>
              </Audio>
              <Video>
                <Bypass>true</Bypass>
              </Video>
            </Encode>
          </Encodes>
          <Streams>
            <Stream>
              <Name>${OriginStreamName}</Name>
              <Profiles>
                <Profile>opus_only</Profile>
              </Profiles>
            </Stream>
          </Streams>
          <Providers>
            <RTMP>
              <BlockDuplicateStreamName>true</BlockDuplicateStreamName>
            </RTMP>
          </Providers>
          <Publishers>
            <ThreadCount>2</ThreadCount>
            <WebRTC>
              <Timeout>30000</Timeout>
            </WebRTC>
          </Publishers>
        </Application>
      </Applications>
    </VirtualHost>
  </VirtualHosts>
</Server>
