[Unit]
Description=Simple streaming server
After=syslog.target

[Service]
User=www-data
EnvironmentFile=-/etc/default/ghostream
ExecStart=/usr/bin/uwsgi --http-socket 127.0.0.1:8080 --master --plugin python3 --module ghostream:app --static-map /static=/usr/lib/python3/dist-packages/ghostream/static
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
